a,a:hover, a:focus, a:active {
    text-decoration: none;
    color: black;
}
.imgChica{
    height: 300px;
    width: 300px;
}
body{
    color: white;
    background-color: #1E2A2E;
    font-family: "Raleway", sans-serif;
}