a,a:hover, a:focus, a:active {
    text-decoration: none;
    color: black;
}
.imgChica{
    height: 300px;
}
body{
    color: white;
    background-color: #660066;
    font-family: 'Arapey', serif;
}
h1{
    font-family: 'Lobster', cursive;
}
.imgDuit{
    height: 350px;
}
i{
    color: #660066;
}
.morado{
    color: #660066;
}
.futer{
    background-color: white;
    color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
@media (min-width: 700px) {
    .futer{
        position: fixed;
    }
    .padinto{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}