a,a:hover, a:focus, a:active {
    text-decoration: none;
    color: black;
}
.imgChica{
    height: 300px;

}
body{
    color: white;
    background-color: #7140C2;
    font-family: "Raleway", sans-serif;
}